@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*----------------------------- General -----------------------------*/

body{
    zoom: 1.5;
}

*{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
ul {
    list-style-type: none; 
    font-weight: 400;   
    size:16px; 
}

/*----------------------------- Header -----------------------------*/
header{
    background-color: #222222;
}
.containerHeader {

    margin: 10 auto;
    
    display: flex; 
    
    justify-content: space-between;
    align-items:  center;
    
}

.containerHeader div {
    padding: 20px;
    display: flex;
    flex-direction: row;
}



/*Logo pizza&font*/

.logo{
   
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 250px;
}

span.pizza{
    color: green;
}
span.separador{
 color: white;
}
span.front{
    color: red;
}


/*NAV*/


.barNav{

    justify-content: center;
    align-items: center;
    width: 315px;
    color: white;
    flex-direction: row;
}

.barNav ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 5px;
  }
  

.barNav ul li{
    float: left;
    margin-left: 10px;
}



/*------------------------------ Main -----------------------------*/
.padre{
    display: flex;
    background-color: #E3E3E3;
    justify-content: space-between;
    
}

.containerPizzas{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.imagenDePodio{
    margin:auto;
}

.item2 h2{
    text-align: center;
}

.item1{
    margin: 19px 5px 19px 35px;
    background-image: url("../img/delivery.jpg");
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 490px;
    height: 350px;
    border: 2px;
    border-radius: 5px;
    color: red;
}

.item1 h2{
    margin-left: 5%;
}

.item1 span{
    color: white;
}

.item2{
    margin: 19px 35px 19px 5px;
    background-color: white;
    display: inline-block;
    width: 490px;   
    height: 350px;
    border: 2px;
    border-radius: 5px;
}

/*----------------------------- Footer -----------------------------*/
.containerFooter{
    background-color: #222222;
    display: flex;
    color:#F3F3F3;
    align-items: center;
    justify-content: space-between;
    
}

.containerFooter div ul li{

    width: 44px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;

}

.pizzaTitulo{
    display: inline-flex;
    margin-right: 50px;
}